<launch>
    <!-- Serial settings-->
    <arg name="serial_port"           default="/dev/ttyUSB0"/>
    <arg name="baud_rate"             default="921600"/> <!-- 115200 default-->

    <!-- Topicnames & motor control signal publish frequency-->
    <arg name="topicname_pwm"         default="/telemetry/pwm"/>
    <arg name="topicname_from_nucleo" default="/telemetry/from_nucleo"/>
    <arg name="frequency"             default="10000"/> <!-- 200 Hz default-->

    <node pkg="communicate_nucleo" name="serial_node" type="serial_node" output="screen">
        <param name="serial_port"           type="string" value="$(arg serial_port)"/>
        <param name="baud_rate"             type="int"    value="$(arg baud_rate)"/>

        <param name="topicname_pwm"         type="string" value="$(arg topicname_pwm)"/>
        <param name="topicname_from_nucleo" type="string" value="$(arg topicname_from_nucleo)"/>
        <param name="frequency"             type="int"    value="$(arg frequency)"/>
    </node>
</launch>
